{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cart.css'%}" />
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li class="active">Information</li>
    </ol>
    <h2> Please fill out the following information: </h2>
    <input type="text" class="profile" placeholder="Full name...">
    <br>
    <input type="text" class="profile" placeholder="Street name...">
    <br>
    <input type="text" class="profile" placeholder="City...">
    <br>
    <input type="text" class="profile" placeholder="Country...">
    <select> Country</select>
    <br>
    <input type="text" class="profile" placeholder="Zip code...">
    <br>
    <h2> Payment information: </h2>
    <input type="text" class="profile" placeholder="Cardholder name...">
    <br>
    <input type="text" class="profile" placeholder="Card number...">
    <br>
    <input type="text" class="profile" placeholder="CVC..."><input type="text" class="profile" placeholder="Expiration date...">
    <br>

    <a type="submit" class="btn btn-default" href="{% url 'shipping' %}" >
            Continue
        </a>
{% endblock %}