{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
    <hr>
      <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'cart' %}">Information</a></li>
            <li><a href="{% url 'payment' %}">Information</a></li>
      <li class="active">Order Review</li>
    </ol>
    <h1>Order review</h1>
    <hr>
    <p>Name: Jón Jónsson</p>
    <p>Heimilisfang: Hraunsvegur 12</p>
    <p>Borg: Njarðvík</p>
    <p>Póstnúmer: 260</p>
    <hr>
    <a type="submit" class="btn btn-default" href="#" >
            Confirm order
        </a>
{% endblock %}