{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cart.css'%}" />
    <ol class="breadcrumb">
      <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'cart' %}">Information</a></li>
      <li class="active">Payment</li>
    </ol>
    <hr>
    <h2> Please fill out payment information: </h2>
            <form action="{% url 'payment' %}" class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Continue"/>
            </form>

{% endblock %}