body {
    background-color: #FFEFDD;
}

.container-fluid{
    background-color: #FFC989;
}

#footer{
    background-color: #FFC989;
    float: bottom!important;
}

.dropdown-menu {
    background-color: #FFC989;
}

main {
    margin: 10px 50px;
    text-align: center;
}

#main-content {
    display: block;
}

.col-sm-6-col-md-4{
    display: inline-block;
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#propic{
    height: 200px;
}

.product-img{
    border: 1px solid #FFEFDD;
    width: 200px;
}

.single-item{
    text-align: center;
}
hr {
  border-top: 1px dotted black;
}
#dotted{
    border-top: 1px dotted gray;
}
