body {
    background-color: #FFEFDD;
}

.container-fluid{
    background-color: #FFC989;
}

#footer{
    background-color: #FFC989;
    float: bottom!important;
}

.dropdown-menu {
    background-color: #FFC989;
}

main {
    margin: 10px 50px;
    text-align: center;
}

#main-content {
    display: block;
}

.col-sm-6-col-md-4{
    display: inline-block;
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#propic{
    height: 200px;
}

.product-img{
    border: 1px solid #FFEFDD;
    width: 200px;
}

.single-item{
    text-align: center;
}
hr {
  border-top: 1px dotted black;
}
#dotted{
    border-top: 1px dotted gray;
}

#card {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
    padding: 2em;
    background-color: #FFC989;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

#checkmark {
    font-weight: lighter;
    fill: #fff;
    margin: -3.5em auto auto 20px;
    }

#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
    }

#lower-side {
    padding: 2em 2em 5em 2em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    }

#message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
    }

#contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background: #FFC989;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
    }
#contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
    }
