h2 {
    color: black;
    margin: 0 auto;
    width: 50%;
}
.profile {
    color: black;
}

input {
    color: darkgray;
    border-radius: 5px;
    border: 1px solid gray;
}

textarea {
    color: darkgray;
    border-radius: 10px;
    border: 1px solid gray;
}