{% extends 'base.html' %}
{% block content %}
<div class="products">
<h4 id="ordb">Order by:</h4>
<a href="/?order_by=name_asc">name asc</a>
<nobr>-</nobr>
<a href="/?order_by=name_desc">name desc</a>
<nobr>||</nobr>
<a href="/?order_by=price_asc">price asc</a>
<nobr>-</nobr>
<a href="/?order_by=price_desc">price desc</a>
<br>
<hr id="dotted">
            {% for product in products %}

                {% include 'product/single_product.html' with product=product %}
                <!-- from video 8 around 38'-->

            {% endfor %}
       </div>
{% endblock %}