{% extends 'base.html' %}
{% block content %}
<div class="products">
<h4 id="ordb">Order by:</h4>
<a href="/?order_by=name_asc">A...Z</a>
<nobr>-</nobr>
<a href="/?order_by=name_desc">Z...A</a>
<nobr>||</nobr>
<a href="/?order_by=price_asc">price: low to high</a>
<nobr>||</nobr>
<a href="/?order_by=price_desc">price: high to low</a>
<br>
<hr id="dotted">
            {% for product in products %}
                {% if product.on_sale == True %}
                {% include 'product/single_product.html' with product=product %}
                <!-- from video 8 around 38'-->
                {% endif %}
            {% endfor %}
       </div>
{% endblock %}