{% extends 'base.html' %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <h4>{{ product.description }}</h4>
    <p>{{ product.long_description }}</p>
    <h3>Starting offer € {{ product.price }}</h3>

    {% for product_image in product.productimage_set.all %}
        <img src="{{ product_image.image }}" class="product-img" />

    {% endfor %}
    <br>
    <h3>Current highest offer is : {{ product.price }}</h3> <!-- setja hæsta offer í staðin fyrir price -->
    {% if user.is_authenticated %}
        <br><br>

            <form action="{% url 'make-offer' product.id %}" class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Make offer"/>
            </form>

        <br><br>
    <a href="{% url 'delete-product' product.id  %}" class= "block_btn_btn-primary">Delete product</a>
    <br>
    <a href="{% url 'update-product' product.id  %}" class= "block_btn_btn-primary">Update product</a>
    {% endif %}
{% endblock %}