

  <div class="col-sm-6-col-md-4">


      <div class="caption">
        <a href="/products/{{ product.id }}">
        <img class="product-img" src="{{ product.productimage_set.first.image }}" id="propic"/>
            <h4 class="single-item">{{ product.name }}</h4></a>
            <p class="single-item"> {{ offer.price }}</p>
            {% if product.on_sale == True %}
                <p class="single-item"> Offer is not accepted</p>
                <!-- get ekki kallað í offer.price á hvert og eitt tilboð -->
            {% else %}
                <h4 class="single-item"> -- Offer is accepted -- </h4>
                <a href="{% url 'cart' %}" class= "block_btn_btn-primary">Add to cart </a>

            {% endif %}

      </div>

  </div>
