

  <div class="col-sm-6-col-md-4">
    <div class="thumbnail">

      <div class="caption">
        <a href="/products/{{ product.id }}">
        <img class="product-img" src="{{ product.productimage_set.first.image }}" id="propic"/>
            <h4>{{ product.name }}</h4></a>
            <p>{{ product.description }}</p>
            {% if user.is_authenticated %}
        <p><a href="{% url 'make-offer' product.id  %}" class="btn btn-primary" role="button" id="mkoffbutt">Make Offer</a>
            {% endif %}
      </div>
    </div>
  </div>
